<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
    </head>
    <body>
        <h1><%= message %></h1>
        <% if(user) { %><a href="/user_dashboard">Dashboard</a><% } else { %><a href="/login">Login</a><% } %>
    </body>
</html>